@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?8egcm5');
    src:  url('../fonts/icomoon.eot?8egcm5#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?8egcm5') format('truetype'),
      url('../fonts/icomoon.woff?8egcm5') format('woff'),
      url('..fonts/icomoon.svg?8egcm5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  body{
    font-family: 'icomoon';
  }
.w{
    width: 1200px;
    margin: 0 auto;
}
.shortcut{
    position: relative;
    height: 50px;
   
    background: rgba(0, 0, 0, 0.3);
}
.logo {
   position: absolute;
   left: 20px;
   color: rgb(0, 0, 0);
   font-size: 45px;
   line-height: 50px;
   
}

.zhong ul li{
    color: #000;
    float: left;
    height: 45px;
    margin-left: 200px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 700;
}
.zhong ul li a{
    color: #000;
}

.zhong ul li a:hover{  
    color: rgb(0, 174, 255);
    /* border-bottom:5px solid rgb(0, 0, 0) ; */
}
.zuoding{
    position: absolute;
    /* top: 10xp; */
    right: 90px;
    width: 200px;
    height: 50px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 38px;
    border-radius: 50px;
    border: 5px solid black;
}
.zuoding:hover{
    border: 5px solid rgb(0, 166, 255);
    color: rgb(0, 166, 255);

}
.as{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    height: 200px;
    background-color: violet;
    border: 5px solid black;
}
.jingjie{
    position: absolute;
    top: 395px;
    right: -55px;
    width: 300px;
    height: 250px;
    display : none;
    background-color: coral;
    border: 5px solid black;
    transition:top 0.7s linear;
}
.jie1{
    
    position: relative; 
    top: 257px;
    left: 45px;
    width: 0;
    height: 0;
    display: none;
    border-top: 50px solid transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid rgb(0, 0, 0);
    transition: left 0.7s linear ;
}
.jingjie ul li{
    color: rgb(0, 0, 0);
    height: 61px;
    font-size: 20px;
    font-weight: 700;
    line-height: 61px;
    text-align: center;
    border-bottom: 5px solid #000;
}
.zuoding:hover .jingjie{
   top: 95px; 
   display: block;
}
.zuoding:hover .jie1{
    top: -43px;
    display: block;
}
.jingjie ul li:hover{
    background-color: cyan;
    color: red;
}
.duan-a{
    float: left;
    width: 150px;
    height: 50px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    margin-left: 200px;  
}