.cebianlan1{
    position: relative;
    width: 1175px;
    margin: 0 auto;
    top: 105px;
}
.cebianlan{
    position: absolute;
    top: 0;
    right: 0;
    width: 270px;
    height: 500px;   
}
.lan1,.lan2,.lan3,.lan4{
    width: 270px;
    height: 100px;
    border-left: 10px solid black;
    border-right: 10px solid black;
}
.lan1{
    transform-style: preserve-3d;
    
   
    border-top: 10px solid black;
}
.lan2{
    border-top: 10px solid black;
}
.lan3{
    border-top: 10px solid black;
}
.lan4{
    border-top: 10px solid black;
}
.lan5{
    width: 270px;
    height: 110px;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
}
 .lan1a{
     position: absolute;
    width: 250px;
    height: 90px;
    z-index: 1;
    color: black;
    font-size:20px ;
    font-weight: 700;
    text-align: center;
    line-height: 90px;
    transform:translateZ(45px) ;
    background-color: #00a6ff;
}
.an1{
    
    transform-style: preserve-3d;
    width: 250px;
    height: 90px;
    transition:transform .3s linear;
}
.lan1b{
    position: absolute;
    width: 250px;
    height: 90px;
    color: black;
    font-size:20px ;
    font-weight: 700;
    text-align: center;
    line-height: 90px;
    transform:translateY(45px) rotateX(90deg) rotateY(180deg) rotateZ(180deg);
    background-color: rgb(191, 191, 191);
}
.an1:hover{
    transform: rotateX(90deg);
}

.fangun{
    position: absolute;
    height: 500px;
    transform-style: preserve-3d;
    animation-name:as;
    animation-duration: 6s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}
.fangun:hover{
    animation-play-state: paused;
}
@keyframes as{
    0%{

    }
    25%{
        transform: rotateX(90deg);
    }
    50%{
        transform: rotateX(180deg) ;
    }
    75%{
        transform: rotateX(270deg) ;
    }
    100%{
        transform: rotateX(360deg) ;
    }


}
.fan1, .fan2 ,.fan3,.fan4{
    position: absolute;
    width: 900px;
    height: 500px;
}

.fangun  .fan1{
    z-index: 4;
    transform:translateZ(250px);
}
.fangun .fan2{
    transform:translateY(250px)  rotateX(90deg);
}
.fangun .fan3{
    transform: translateZ(-250px) rotateZ(180deg);
}
.fangun .fan4{
    transform:translateY(-250px)  rotateX(-270deg);
}


/* .fangun{
    transform: rotateX(-175deg) rotateY(104deg)

} */
.fangun div img{
    width: 100%;
    height: 100%;
}
.box1{
    width: 100%;
    height: 725px;
}
.box1 img{
    width: 100%;
    height: 825px;
}
.baishu{
    position: relative;
    top: 100px;
    width: 100%;
    height: 950px;
    /* background: url(./images/80.jpeg); */
    /* background-color: chartreuse; */
}
.baishu img{
    position: absolute;
    width: 100%;
    height: 950px;
}
.zop{
    position: absolute;
    top: -85px;
    left: 50%;
    width: 550px;
    height:72px;
    box-shadow: 1px 1px 10px 5px rgb(255, 255, 255);
    border-radius: 50%;
    transform: translate(-50%,0);
    background-color: rgb(66,149,255);
}
.zop h2{
    color: #000;
    font-weight: 700;
    font-size: 20px;
    line-height: 72px;
    text-align: center;
}
.baishu1{
    position: relative;
    top: 100px;
    right: 0;
    height: 750px;
    border-radius: 20px;
    box-shadow:10px 10px 20px 10px black ;
    background-color: rgba(116, 116, 116,0.3)
}
.baishu1a{
    position: absolute;
    top: 50px;
    left: 20px;
    width: 250px;
    height: 560px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
.baishu1a h3{
    position: absolute;
    top: 7px;
    left: 50%;
    color: #000;
    width: 200px;
    height: 50px;
    transform: translate(-50%,0);
    display: block;
    text-align: center;
    font-size: 22px;
    line-height: 39px;
}
.baishu1b{
    position: absolute;
    top: 50px;
    right: 20px;
    width: 870px;
    height: 560px;
    border-radius: 20px;
    background-color: rgb(255, 145, 0);
}
.baishu1b img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.baishu1b h3{
    position: absolute;
    top: 37px;
    left: 0;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
    text-align: center;
}
.baishu1a img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.qianjing{
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 400px;
    height: 75px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 75px;
    transform: translate(-50%,0);
    border-radius: 50px;
    box-shadow:10px 10px 20px 10px  rgb(0, 0, 0);
    background-color: rgba(0, 0, 0,0.4);
}
.qianjing:hover{
    cursor: pointer;
    color: rgb(255, 0, 0);
}
.zheng-ti{
    position: relative;
    top: 100px;
    left: 0;
    width: 100%;
    height: 1600px;
    background-color: darkgray;
}
.zheng-ti img{
    width: 100%;
    height: 100%;

}
.zheng-ti .zheng-t1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1500px;
    height: 1200px;
    border-radius: 50px;
    box-shadow: 10px 10px 20px 10px black;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.4);
}
.zheng-a1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 700px;
    /* 开启子元素3D空间 */
    transform-style: preserve-3d;
    margin-top: -225px;
    margin-left: -350px;
    transform:rotateX(0deg) rotateY(0deg) rotateZ(45deg);
    /* 导入动画 */
    animation-name: zheng;
    /* 持续时间 */
    animation-duration: 4s;
    /* 选择速度曲线 */
    animation-timing-function: linear;
    /* 何时开始 */
    /* animation-delay: 0.5s; */
    /* 播放次数 */
    animation-iteration-count: infinite;
    /* 倒放 */
    /* animation-direction: alternate; */
}
.zheng-a1 img{
    width: 100%;
    height: 100%;
    
}
@keyframes zheng{
    0%{
        transform:  rotate3d(0deg) 
    }
    25%{
        transform:rotateX(0deg) rotateY(90deg)  rotateZ(45deg) ;
    }
    50%{
        transform:rotateX(0deg) rotateY(180deg)  rotateZ(45deg) ;
    }
    75%{
        transform:rotateX(0deg) rotateY(270deg)  rotateZ(45deg);
    }
    100%{
        transform:rotateX(0deg) rotateY(360deg)  rotateZ(45deg);
    }
}

.zheng-a2,.zheng-a3,.zheng-a4,.zheng-a5,.zheng-a6,.zheng-a7{
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
}
.zheng-a1 .zheng-a2{
    transform:translateZ(250px) rotateX(0deg) rotateY(0deg)  rotateZ(0deg);
    background-color: deeppink;
}
.zheng-a3{
    transform: translateY(250px) rotateX(90deg)  rotateY(0deg)  rotateZ(-90deg);
    background-color: rgb(0, 0, 0);
}
.zheng-a4{
    transform: translateZ(-250px) rotateX(0deg) rotateY(0deg)  rotateZ(0deg);
    background-color: rgb(0, 200, 255);
}
.zheng-a5{
    transform: translateY(-250px) rotateX(90deg)  rotateY(0deg)  rotateZ(-90deg);
    background-color: rgb(157, 255, 0);
}
.zheng-a6{
    transform: translateX(-250px) rotateY(90deg) rotateX(0deg)   rotateZ(0deg);
    background-color: rgb(34, 0, 255);
}
.zheng-a7{
    transform: translateX(250px) rotateY(90deg) rotateX(0deg)  rotateZ(0deg);
    background-color: rgb(187, 187, 187);
}


